
ul, a{
    color: aliceblue;
    padding: 0;
    margin: 0;  
    text-decoration: none;  
}  

.bookmark-logoutbtn li {
    border-bottom: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
    padding:8px;
}

.line {
    width: 200px;
    border-color: rgba(255, 255, 255, 0.4);
}

#plusbookmark {
    float: right;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    background-color:transparent;
    color: white;
    margin-top:-2px;
}
#rollingbox{
    margin:40px 0;
}
#plusbookmark:hover {
    background-color: gray;
    transition: 0.3s;
}
#plusbookmark:active {
    background-color: blue;
}

.today .day {
    font-size: 25px;
    font-weight:800;
}

#logoutbtn {
    position: absolute;
    bottom: 20px;
}

.today .DAYmessage {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
    position:absolute;
    margin-top:9px;
}

#menu .menuicon {
    color: aliceblue;
    padding-left: 67px;
    padding-top: 67px;
    display: inline;
    position:absolute;
    z-index: 2;
}

.bookmark-logoutbtn {
    position:absolute;
    margin-top:80px;
}

#menu #nav {
    z-index: 1;
    width: 350px;
    height: 100%;
    left:-350px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top:128px;
    transition: 1s;
    box-sizing: border-box;
    padding-left:67px;
}

#menubtn {
    background-color: Transparent;
    color: aliceblue;
    border: 0;
}

.openNav{
    left:0px !important ;
    transition: 1s;
}



#clock {
    color: aliceblue;
    font-size:10em;
    text-align: center;
    margin: 0 auto;
}

#geo {
    color: aliceblue;
    font-size:1.5em;
    flex:auto;
    text-align: right;
    padding-top: 67px;
    padding-right:67px;
    margin: 0 auto;
    
}


.copyright {
    color: rgba( 255, 255, 255, 0.6 );
    font-size: 0.5em;
    position: absolute;
    right: 0;
    bottom:140px;
    padding-right:67px;
}


.top {
    width:750px;
    
    padding-top: 100px;
}

.hidden {
    display: none;
}

#loginForm, #greeting{
    text-align: center;
    color: aliceblue;
    font-size:2em;
    padding-top: 47px;
}

#loginForm input {
    font-size: 1em;
    color: aliceblue;
}

#loginForm input::placeholder {
    font-size: 1em;
    color: aliceblue;
}

#AddBookMarkDiv {
    position: absolute;
    width: 305px;
    height: 141px;
    background-color: white;
    color: black;
    padding: 33px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px rgb(0 0 0 / 25%);
    margin-top: -135px;
    margin-left: 220px;
}

#AddBookMarkDiv span {
    display: inline-block;
    width: 62px;
    margin-bottom:5px;
    font-size: 0.8em;
    color: #7c7c7c;

}
#AddBookMarkDiv input {
    margin-bottom: 8px;
    border: solid 1px #d0d0d0;
    width: 237px;
    height: 24px;
}

#AddBookMarkDiv button {
    float: right;
    width: 114px;
    height: 32px;
    background-color: #1550ff;
    color: white;
    border:0;
    border-radius: 3px;
    margin-top:4px;
    transition: 0.3s;
}

#AddBookMarkDiv button:hover {
     background-color: #262626;
    color: white;
    width: 130px;
}

#AddBookMarkDiv h4 {
    margin:0;
    margin-bottom: 14px;
}

#offbookmarkBTN.offbookmark {
    background:transparent;
    left:271px;
    top:11px;
    position: absolute;
    color: #cfcfcf;
    font-size: 35px;
}
#offbookmarkBTN.offbookmark:hover{
    background-color: transparent;
    width: 114px;
}


#loginForm button, #deleteAll, #logoutbtn{

    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.1);
    font-size: 0.6em;
    width: 100px;
    padding: 15px;
}

#logoutbtn{
    font-size: 0.8em;
    margin-top: 10px;
    position: relative;
}
#deleteAll{
    font-size: 0.8em;
    width: 130px;
    margin-top: 20px;
    float: right;
    padding: 10px;
    margin-bottom: 190px;
}

.wrap {
    width: 700px;
    margin: 0 auto;
}


body {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover ;
    background-blend-mode: darken;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
}

html {
    position: relative;
}

#todo-list {
    color: aliceblue;
    width: 700px;
    margin: 0 auto;
    margin-top :40px;
    font-size: 1.2em;
    
}

#todo-list li{
    padding: 10px;
}

#todo-form {
    text-align: center;
    padding-top: 40px;
}



#loginForm input {
    background: transparent;
    border: 0px;
    padding: 10px;
    border-bottom: solid 3px aliceblue;
    outline: none;
    color: aliceblue;
}

#todo-form input::placeholder {
    color: aliceblue;
    font-size: 1em;
  }


#todo-form input {
    color: aliceblue;
    width: 700px; 
    padding: 20px 30px;
    border:none;
    border-radius: 30px; 
    outline: none;
    background-color: rgba( 255, 255, 255, 0.2 );
}

#todo-list button {
    border:none; 
    color: aliceblue;
    background: transparent;
}




#bottom {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    bottom:0;
    position: absolute;
}
 


#bottom .current {
    list-style: none;
    text-align: center;
    color: rgba( 255, 255, 255, 0.6 );
};

