#clock {
    color: aliceblue;
    font-size:10em;
    text-align: center;
    margin: 0 auto;
}

#geo {
    color: aliceblue;
    font-size:1.5em;
    flex:auto;
    text-align: right;
    padding-top: 52px;
    padding-right:67px;
    margin: 0 auto;
    
}





.top {
    width:750px;
    
    padding-top: 100px;
}

.hidden {
    display: none;
}

#loginForm, #greeting{
    text-align: center;
    color: aliceblue;
    font-size:2em;
    padding-top: 47px;
}

#loginForm input {
    font-size: 1em;
    color: aliceblue;
}

#loginForm input::placeholder {
    font-size: 1em;
    color: aliceblue;
}

#loginForm button {
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.1);
    font-size: 0.6em;
    width: 100px;
    padding: 15px;
}


body {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover ;
    background-blend-mode: darken;
}

#todo-list {
    color: aliceblue;
    width: 700px;
    margin: 0 auto;
    margin-top :40px;
    font-size: 1.2em;
}

#todo-list li{
    padding: 10px;
}

#todo-form {
    text-align: center;
    padding-top: 40px;
}

#loginForm input {
    background: transparent;
    border: 0px;
    padding: 10px;
    border-bottom: solid 3px aliceblue;
    outline: none;
    color: aliceblue;
}

#todo-form input::placeholder {
    color: aliceblue;
    font-size: 1em;
  }


#todo-form input {
    color: aliceblue;
    width: 700px; 
    padding: 20px 30px;
    border:none;
    border-radius: 30px; 
    outline: none;
    background-color: rgba( 255, 255, 255, 0.2 );
}

#todo-list button {
    border:none; 
    color: aliceblue;
    background: transparent;
}




#bottom {
    color: aliceblue;
    bottom:0;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding:40px;
    box-sizing: border-box;
}



#bottom .current {
    list-style: none;
    text-align: center;
    color: rgba( 255, 255, 255, 0.6 );
};

